<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<link rel="icon" href="../static/favicon.ico" type="image/png"/>

	<!-- <meta http-equiv="refresh" content="5"/> -->

	<title>
		Xtreme Tic Tac Toe
	</title>

	<style type="text/css">
		.table { 
			margin-bottom:0px;
			margin-top: 0px; 
		}
	</style>

</head>
<body>	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Xtreme Tic Tac Toe</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Play <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../static/Description.pdf">How To</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="/about">About</a>
				</li>
			</ul>
		</div>
	</nav>

	<table class="table">
		<thead>
			<tr>
				<th style="width: 35%">Board 1</th>
				<th style="width: 35%">Board 2</th>
				<th style="width: 30%">Config</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for u in range(2) %}
				<td>
					<table class="table">
					{% for i in range(3) %}
						<tr>
							{% for j in range(3) %}
							<td>
								<table class="table">
									<tr>
										<td onclick="move({{u}}, {{3*i}}, {{3*j}})" id="b{{u}}r{{3*i}}c{{3*j}}">{{ big[u][3*i][3*j] }}</td><td onclick="move({{u}}, {{3*i}}, {{3*j+1}})" id="b{{u}}r{{3*i}}c{{3*j+1}}">{{ big[u][3*i][3*j+1] }}</td><td onclick="move({{u}}, {{3*i}}, {{3*j+2}})" id="b{{u}}r{{3*i}}c{{3*j+2}}">{{ big[u][3*i][3*j+2] }}</td>
									</tr>
									<tr>
										<td onclick="move({{u}}, {{3*i+1}}, {{3*j}})" id="b{{u}}r{{3*i+1}}c{{3*j}}">{{ big[u][3*i+1][3*j] }}</td><td onclick="move({{u}}, {{3*i+1}}, {{3*j+1}})" id="b{{u}}r{{3*i+1}}c{{3*j+1}}">{{ big[u][3*i+1][3*j+1] }}</td><td onclick="move({{u}}, {{3*i+1}}, {{3*j+2}})" id="b{{u}}r{{3*i+1}}c{{3*j+2}}">{{ big[u][3*i+1][3*j+2] }}</td>
									</tr>
									<tr>
										<td onclick="move({{u}}, {{3*i+2}}, {{3*j}})" id="b{{u}}r{{3*i+2}}c{{3*j}}">{{ big[u][3*i+2][3*j] }}</td><td onclick="move({{u}}, {{3*i+2}}, {{3*j+1}})" id="b{{u}}r{{3*i+2}}c{{3*j+1}}">{{ big[u][3*i+2][3*j+1] }}</td><td onclick="move({{u}}, {{3*i+2}}, {{3*j+2}})" id="b{{u}}r{{3*i+2}}c{{3*j+2}}">{{ big[u][3*i+2][3*j+2] }}</td>
									</tr>
								</table>
							</td>
							{% endfor %}
						</tr>
					{% endfor %}
					</table>
				</td>
				{% endfor %}
				<td>
					</br></br></br></br>
					<div class="container">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Mode
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#" onclick="sendmode(1)">Human - X</a>
								<a class="dropdown-item" href="#" onclick="sendmode(2)">Human - O</a>
							</div>
						</div>
					</div>
					<br/>
					<div class="container">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Difficulty
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#" onclick="senddiff(0)">Easy</a>
								<a class="dropdown-item" href="#" onclick="senddiff(1)">Medium</a>
								<a class="dropdown-item" href="#" onclick="senddiff(2)">Hard</a>
							</div>
						</div>
					</div>
					</br></br>
					<table class="table">
						<tr>
							{% for u in range(2) %}
							<td>
								<table class="table">
									{% for i in range(3) %}
									<tr>
										{% for j in range(3) %}
										<td>{{ small[u][i][j] }}</td>
										{% endfor %}
									</tr>
									{% endfor %}
								</table>
							</td>
							{% endfor %}
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>


</body>
<script type="text/javascript">
	var validmoves = {{ valid_moves|safe }};

	for(var i=0;i<validmoves.length;i++){
		e = document.getElementById('b' + validmoves[i][0] + 'r' + validmoves[i][1] + 'c' + validmoves[i][2]);
		e.style.backgroundColor = "red";
	}

	function sendmode(m){
		data = {};
		data['mode'] = m;
		$.post("/recievemode", JSON.stringify(data), function(){});	
		setTimeout(ref, 500);
	}

	function senddiff(d){
		data = {};
		data['diff'] = d;
		$.post("/recievediff", JSON.stringify(data), function(){});	
		setTimeout(ref, 500);
	}

	function ref(){
		location.reload();
	}

	function move(b, r, c){
		e = document.getElementById('b' + b + 'r' + r + 'c' + c);
		if(e.style.backgroundColor == "red"){
			e.innerHTML = '{{ mine }}';
			data = {};
			data['b'] = b;
			data['r'] = r;
			data['c'] = c;
			$.post("/recievemove", JSON.stringify(data), function(){});
			setTimeout(ref, 3000);
		}
	}
</script>
</html>